/*
ジャンル別色設定ファイル
*/
.genre0 {background-color: #ffffff;}
.genre1 {background-color: #ffffff;}
.genre2 {background-color: #ffffff;}
.genre3 {background-color: #ffd2bd;}
.genre4 {background-color: #ffffff;}
.genre5 {background-color: #ffffff;}
.genre6 {background-color: #a2ffd0;}
.genre7 {background-color: #ceceff;}
.genre8 {background-color: #ffffff;}
.genre9 {background-color: #ffffff;}
.genre10 {background-color: #ffffff;}
.genre11 {background-color: #ffffff;}
.genre12 {background-color: #ffffff;}
.genre13 {background-color: #ffffff;}
.genre14 {background-color: #ffffff;}
.genre15 {background-color: #ffffff;}
.valid_reserved {background-color: #e763d2;}
.invalid_reserved {background-color: #c6c6c6;}
