
    <aside>
        <!-- 番組詳細ダイアローグ 中身はAjaxで書き換える -->
        {#- https://developer.hatenastaff.com/entry/2021/12/01/100000 (2023/12/17) #}
        <dialog id='detail'>
        </dialog>
    </aside>

    <footer>
        {{footer_str}}
    </footer>
</body>
</html>
