
    <main>
    <!-- 設定 -->
        <input id="tab1" type="radio" name="tab_item" checked><label class="tab_item" for="tab1">mirakurunサーバー</label>
        <input id="tab2" type="radio" name="tab_item"><label class="tab_item" for="tab2">ジャンル別背景色</label>
        <input id="tab3" type="radio" name="tab_item"><label class="tab_item" for="tab3">地デジサービス</label>
        <input id="tab4" type="radio" name="tab_item"><label class="tab_item" for="tab4">ＢＳサービス</label>
        <input id="tab5" type="radio" name="tab_item"><label class="tab_item" for="tab5">ＣＳサービス</label>
        <input id="tab6" type="radio" name="tab_item"><label class="tab_item" for="tab6">録画標準設定</label>

        <!-- mirakurunサーバー -->
{%- with std_data = std_data %}
{% include 'html07-1.j2' %}
{%- endwith %}

        <!-- ジャンル別背景色 -->
{%- with genres = genres %}
{% include 'html07-2.j2' %}
{%- endwith %}

        <!-- 地デジサービス -->
{%- with id_tab = "tab3_content" , id_form = "gr_setting_form" , service_type = "GR" , btn_id = "gr_setting" , services = gr_services %}
{% include 'html07-3.j2' %}
{%- endwith %}

        <!-- ＢＳサービス -->
{%- with id_tab = "tab4_content" , id_form = "bs_setting_form" , service_type = "BS" , btn_id = "bs_setting" , services = bs_services %}
{% include 'html07-3.j2' %}
{%- endwith %}

        <!-- ＣＳサービス -->
{%- with id_tab = "tab5_content" , id_form = "cs_setting_form" , service_type = "CS" , btn_id = "cs_setting" , services = cs_services %}
{% include 'html07-3.j2' %}
{%- endwith %}

        <!-- 録画標準設定 -->
{%- with std_data = std_data %}
{% include 'html07-4.j2' %}
{%- endwith %}

    </main>
